In [9]:
from sklearn.cluster import KMeans 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
from sklearn import preprocessing, svm

In [10]:
df=pd.read_excel('titanic.xls')

In [11]:
df[:1]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"

In [12]:
print(df.head())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0   24160  211.3375       B5        S    2    NaN
1   0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [13]:
df.drop(['name', 'body'], 1, inplace=True)

In [14]:
df.dtypes

pclass         int64
survived       int64
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
home.dest     object
dtype: object

In [15]:
df.fillna(0, inplace=True)

In [16]:
def handle_non_numeric(df):
    columns=df.columns.values
    
    for column in columns:
        text_to_digit_vals={}
        def convert_to_int(val):
            return text_to_digit_vals[val]
        if df[column].dtype != np.int64 and df[column].dtype !=np.float64:
            column_content=df[column].values.tolist()
            unique_element=set(column_content)
            x=0
            for unique in unique_element:
                if unique not in text_to_digit_vals:
                    text_to_digit_vals[unique]=x
                    x+=1
            df[column]=list(map(convert_to_int, df[column]))
    return df
df=handle_non_numeric(df)

print(df.head())

   pclass  survived  sex      age  sibsp  parch  ticket      fare  cabin  \
0       1         1    1  29.0000      0      0     746  211.3375     38
1       1         1    0   0.9167      1      2     506  151.5500     54
2       1         0    1   2.0000      1      2     506  151.5500     54
3       1         0    0  30.0000      1      2     506  151.5500     54
4       1         0    1  25.0000      1      2     506  151.5500     54

   embarked  boat  home.dest
0         2     1        308
1         2    10        189
2         2     0        189
3         2     0        189
4         2     0        189

In [30]:
X = np.array(df.drop(['survived'], 1).astype(float))
X=preprocessing.scale(X)
y=np.array(df['survived'])

In [31]:
clf=KMeans(n_clusters=2)
clf.fit(X)

correction =0
for i in range(len(X)):
    prediction=np.array(X[i].astype(float))
    prediction=prediction.reshape(-1, len(prediction))
    prediction1=clf.predict(prediction)
    if prediction1[0]==y[i]:
        correction+=1
        
print(correction/len(X))

0.7440794499618029