In [26]:
import numpy as np
from math import sqrt
from collections import Counter
# import matplotlib.pyplot as plt
import warnings
# plt.style.use('fivethirtyeight')
import pandas as pd
import random

In [27]:
# dataset={'k':[[1,2],[2,3],[3,1]], 'r':[[6,5],[7,7],[8,6]], 'l':[[10,9], [8,9],[10,11]]}
# new_feature=[15,17]

In [28]:
# [[plt.scatter(ii[0], ii[1], s=100, color=i)for ii in dataset[i]]for i in dataset]
# plt.scatter(new_feature[0], new_feature[1], s=100)
# plt.show()

In [29]:
def knear(data, predict, k=3):
    if len(data)>=k:
        warnings.warn('k is set to value less than the population group')
    distances=[]
    for group in data:
        for feature in data[group]:
            euclidean_distance=np.linalg.norm(np.array(feature)-np.array(predict))
            distances.append([euclidean_distance, group])
    vote=[i[1] for i in sorted(distances)[:k]]
    print(Counter(vote).most_common(1))
    vote_result=Counter(vote).most_common(1)[0][0]
    return vote_result
# result =knear(dataset, new_feature, k=3)
# print(result)

In [30]:
df=pd.read_csv(r'C:\Users\user\Desktop\breast.txt')
df.replace('?', -99999, inplace=True)
df.drop(['id'], 1, inplace=True)
df.head(3)

,Clump_Thickness,Uniformity_Size,Uniformity_Shape,Marginal_Adhesion,Single_Epithelial,Bare_Nuclei,Bland_Chromatin,NormalNucleus,mitoses,Class:
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Clump_Thickness    699 non-null    int64
 1   Uniformity_Size    699 non-null    int64
 2   Uniformity_Shape   699 non-null    int64
 3   Marginal_Adhesion  699 non-null    int64
 4   Single_Epithelial  699 non-null    int64
 5   Bare_Nuclei        699 non-null    object
 6   Bland_Chromatin    699 non-null    int64
 7   NormalNucleus      699 non-null    int64
 8   mitoses            699 non-null    int64
 9   Class:             699 non-null    int64
dtypes: int64(9), object(1)
memory usage: 54.7+ KB

In [37]:
df=df.astype(float).values.tolist()

In [39]:
print(df[:5])

[[5.0, 1.0, 1.0, 1.0, 2.0, 1.0, 3.0, 1.0, 1.0, 2.0], [5.0, 4.0, 4.0, 5.0, 7.0, 10.0, 3.0, 2.0, 1.0, 2.0], [3.0, 1.0, 1.0, 1.0, 2.0, 2.0, 3.0, 1.0, 1.0, 2.0], [6.0, 8.0, 8.0, 1.0, 3.0, 4.0, 3.0, 7.0, 1.0, 2.0], [4.0, 1.0, 1.0, 3.0, 2.0, 1.0, 3.0, 1.0, 1.0, 2.0]]

In [41]:
random.shuffle(df)
print(df[:3])

[[8.0, 3.0, 3.0, 1.0, 2.0, 2.0, 3.0, 2.0, 1.0, 2.0], [8.0, 6.0, 5.0, 4.0, 3.0, 10.0, 6.0, 1.0, 1.0, 4.0], [1.0, 1.0, 1.0, 1.0, 2.0, 5.0, 1.0, 1.0, 1.0, 2.0]]