In [2]:
import pandas as pd
import numpy as np
import math
from sklearn import preprocessing, svm
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
df=pd.read_csv('a.us.txt')
df.head()

         Date    Open    High     Low   Close    Volume  OpenInt
0  1999-11-18  30.713  33.754  27.002  29.702  66277506        0
1  1999-11-19  28.986  29.027  26.872  27.257  16142920        0
2  1999-11-22  27.886  29.702  27.044  29.702   6970266        0
3  1999-11-23  28.688  29.446  27.002  27.002   6332082        0
4  1999-11-24  27.083  28.309  27.002  27.717   5132147        0

In [3]:
df['HL_PCT']=(df['High']-df['Close'])/df['Close']

In [4]:
df['PCT_change']=(df['Close']-df['Open'])/df['Open']

In [5]:
df=df[['Close', 'HL_PCT', 'PCT_change', 'Volume']]

In [6]:
df.head()

    Close    HL_PCT  PCT_change    Volume
0  29.702  0.136422   -0.032918  66277506
1  27.257  0.064937   -0.059649  16142920
2  29.702  0.000000    0.065122   6970266
3  27.002  0.090512   -0.058770   6332082
4  27.717  0.021359    0.023410   5132147

In [7]:
forecast_col='Close'

In [19]:
df.shape

(4429, 5)

In [8]:
df.describe()

             Close       HL_PCT   PCT_change        Volume
count  4521.000000  4521.000000  4521.000000  4.521000e+03
mean     27.871357     0.014810     0.001027  3.993503e+06
std      12.944389     0.018281     0.024430  2.665730e+06
min       7.323800     0.000000    -0.269063  0.000000e+00
25%      19.089000     0.004122    -0.009454  2.407862e+06
50%      24.490000     0.009178     0.000966  3.460621e+06
75%      36.521000     0.019159     0.011146  4.849809e+06
max     107.320000     0.413096     0.406959  6.627751e+07

In [9]:
df.fillna(-9999, inplace=True)

In [10]:
forecast_out=int(math.ceil(0.01*len(df)))
print(forecast_out)

46

In [17]:
df['Label']=df[forecast_col].shift(-forecast_out)
df.dropna(inplace=True)

In [20]:
df.head()

    Close    HL_PCT  PCT_change    Volume   Label
0  29.702  0.136422   -0.032918  66277506  46.111
1  27.257  0.064937   -0.059649  16142920  46.199
2  29.702  0.000000    0.065122   6970266  45.942
3  27.002  0.090512   -0.058770   6332082  44.681
4  27.717  0.021359    0.023410   5132147  47.928

In [13]:
X=np.array(df.drop(['Label'], axis=1))
y=np.array(df['Label'])
X=preprocessing.scale(X)
y=np.array(df['Label'])

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [15]:
model=LinearRegression(n_jobs=10)

In [16]:
model.fit(X_train, y_train)
score=model.score(X_test, y_test)
score

0.8064645916220141