In [3]:
import pandas as pd

In [6]:
sales=pd.read_csv(r'C:\Users\user\Desktop\msft.csv')

In [12]:
sales.isnull().sum()

Name                  1
Rating                1
No of people Rated    0
Category              1
Date                  1
Price                 1
dtype: int64

In [13]:
sales[sales['Name'].isnull()]

     Name  Rating  No of people Rated Category Date Price
5321  NaN     NaN                 948      NaN  NaN   NaN

In [14]:
sales.shape

(5322, 6)

In [17]:
sales.dropna(how='any').shape

(5321, 6)

In [18]:
sales.dropna(how='all').shape

(5322, 6)

In [22]:
sales.dropna(subset = ['Date', 'Price'], how='all').shape

(5321, 6)

In [23]:
sales.columns

Index(['Name', 'Rating', 'No of people Rated', 'Category', 'Date', 'Price'], dtype='object')

In [ ]:
sales.dropna(how='all', )